<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.strv.chat.core">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <service android:name="com.strv.chat.core.core.ui.chat.sending.UploadPhotoService" />
    </application>

</manifest>
